.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex-grow: 1;
  max-width: 1280px; /* Equivalent to a common 'container' max-width in Tailwind */
  margin-left: auto;
  margin-right: auto;
  padding: 1rem; /* Equivalent to p-4 */
}
